[Unit]
Description=Run NYT Wordle bot daily

[Timer]
# Daily at 00:05 local time
OnCalendar=*-*-* 00:05:00
# if the timer was missed (machine asleep/off), run once when user systemd instance is running again
Persistent=true


[Install]
WantedBy=timers.target
